body {
    background-color: cadetblue;
    text-align: center;
}
#buttons{
    display: block;
}
#main {
    display: block;
    margin: auto;
}

h4 {
    display: inline-block;
}

#playTo {
    display:inline;
}

.winner {
    color: green;
}

.loser {
    color: red;
}